<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Não redireciona se for um arquivo ou pasta real
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l

  # Tudo cai no index.html para o React Router gerenciar
  RewriteRule . /index.html [L]
</IfModule>
